.footer {
    height: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #171515;
    color: #fff;
}

.social ul {
    display: flex;
}

.social li {
    margin: 0 0.2em;
    list-style: none;
    font-size: 1.8em;
}